colorText = #333
colorLink = #36d

html
  background #f3f3f3
  color colorText
  font-family "Trebuchet MS", Helvetica, sans-serif
  font-size 115%
  margin 0
  padding 0

body
  margin 0px auto
  width 48em
  min-height 100%
  //text-shadow -1px -1px 2px rgba(0, 0, 0, 0.15)
  box-shadow 0 0 1em rgba(0, 0, 0, 0.25)

header, section#content
  padding 1em 2em
  background #fff

header
  position relative
  border-bottom 1px solid #ddd

  #logo
    font-size 1.5em
    font-family 'Open Sans', Helvetica, Arial, sans-serif
    font-weight 300
    font-style normal
  
  #auth
    position absolute
    top 0
    right 0
    font-size 0.75em
    padding 1em 2em
    color #aaa

  nav
    margin 1em -2em -1em
    overflow hidden
    padding 0 1em

    a
      display block
      float left
      margin-right 0.5em
      padding 0.5em 1em
      color #aaa
      border-bottom 2px solid transparent

      &.active
        color #333
        font-weight bold
        border-bottom-color colorLink

footer
  font-size 0.75em
  background #f2f2f2
  padding 1em 2em
  color #777

a
  color colorLink
  text-decoration none

  &:hover
    color #39f

h1
h2
h3
h4
h5
h6
  font-family 'Open Sans', Helvetica, Arial, sans-serif
  font-weight 300
  font-style normal
  color #555

h1
  font-size 2em
  padding 0 0 0.25em
  margin 0 0 0.5em
  border-bottom 1px solid #eee

#content
  // box-shadow inset 0 1em 1em -1em rgba(0, 0, 0, 0.25)

form
  dl.fields
    dt
      padding 0
      width 10em
      margin 0 0 0.15em
    
    dd
      padding 0
      margin 0 0 0.5em
    
    input
    textarea
      font-size inherit

  .actions
    input[type=submit]
      font-size inherit
      padding 0.3em 0.75em
      border 1px solid #aaa
      border-radius 0.5em
      background colorLink
      box-shadow inset 0 1em 1em -1em rgba(0, 0, 0, 0.25)

// Blog
form dl.fields
  input
  textarea
    width 28em

  textarea
    height 8em
